@layer utilities {
  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .gap {
    gap: var(--gap);
  }

  .gap-8 {
    gap: var(--space-8);
  }

  .gap-16 {
    gap: var(--space-16);
  }

  .gap-20 {
    gap: var(--space-20);
  }

  .gap-24 {
    gap: var(--space-24);
  }

  .gap-28 {
    gap: var(--space-28);
  }

  .gap-32 {
    gap: var(--space-32);
  }

  .grid {
    display: flex;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-grow {
    flex-grow: 1;
  }

  .align-centre {
    align-items: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-centre {
    justify-content: center;
  }

  .display-block {
    display: block;
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
