.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: auto;
  margin: auto;
  height: 100vh;
  max-width: 40rem;
  letter-spacing: 1px;
}

.invitesContainer {
  margin-top: 1rem;
  position: relative;
}

.emailLabel {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.emailInput {
  height: 3.5rem;
  padding: 0.8rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: transparent;
  border: 1px solid #367ba2;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.emailInput:focus {
  outline: 1px solid #367ba2;
}

/* Used this as a guide https://discourse.webflow.com/t/styling-a-button-to-sit-inside-an-input-field/220047 */
.add {
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 5px;
  border: transparent;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  background-color: #2fa3e3;
  color: var(--white);
  position: absolute;
  transform: translateY(-100% -50%);
  top: 50%;
  right: 0.5rem;
}

.addedEmails {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.emailAdded {
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  background-color: #cde6f4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.deleteEmail {
  margin-left: 0.8rem;
  vertical-align: center;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.deleteEmail:hover {
  color: var(--violet-500);
}

.actionButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.inviteButton,
.copyButton,
.skipButton {
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.inviteButton {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: transparent;
  background-color: #2fa3e3;
  color: var(--white);
}

.copyButton {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: transparent;
  background-color: var(--slate-100);
}

.skipButton {
  background-color: transparent;
  border: transparent;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add:hover,
.inviteButton:hover,
.copyButton:hover {
  background-color: var(--violet-500);
}

.copyButton:hover {
  color: white;
}
.skipButton:hover {
  text-decoration: underline 2px var(--violet-300);
}

.add:active,
.inviteButton:active,
.copyButton:active,
.skipButton:active {
  transform: scale(95%);
}

@media (max-width: 640px) {
  .container {
    height: 80vh;
    margin: 1.2rem;
  }
}
/* My resource for CSS box-shadows: https://getcssscan.com/css-box-shadow-examples */
