@layer components {
  .base {
    --button-background: var(--colour-interactive);

    padding: var(--space-8) var(--space-16);
    background-color: var(--button-background);
    color: #fff;
    border: 1px solid var(--violet-700);
    border-radius: 3px;
    cursor: pointer;
  }

  .base:hover {
    background-color: var(--violet-700);
  }

  /* Intents */

  .secondary {
    color: var(--violet-600);
    --button-background: var(--white);
  }

  .secondary:hover {
    color: var(--white);
  }

  /* Sizes */

  .small {
    font-size: var(--size-8);
    padding: var(--space-4) var(--space-8);
  }

  .large {
    font-size: var(--size-20);
    padding: var(--size-4) var(--size-8);
  }
}
