@layer component {
  .base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
    border: none;
  }

  .label {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }

  .input {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--slate-300);
    font-size: var(--size-20);
  }

  .input::placeholder {
    color: var(--slate-400);
    font-size: var(--size-16);
  }

  .input:focus {
    outline: 1px solid var(--sky-950);
  }
}
