@layer components {
  .base {
    padding: var(--size-20);
    background-color: #ffffff;
    border-radius: 7px;
  }

  .highlight {
    background-color: var(--slate-100);
    border: 1px solid var(--slate-300);
  }

  .section {
    border: 1px solid var(--slate-300);
  }
}
