"use client";

import React, { HTMLAttributes } from "react";
import clsx from "clsx"

import styles from "./{{pascalCase componentName}}.module.scss"

export type {{pascalCase componentName}}Props = { className: string }

export const {{pascalCase componentName}} = ({ className, ...restProps }:
{{pascalCase componentName}}Props): JSX.Element => {
  return (
    <div className={clsx([ styles.base, className, ])} {...restProps}>
      Hello
    </div>
  )
}