"use client";

import clsx from "clsx"
import styles from "./{{pascalCase componentName}}.module.scss"

export type {{pascalCase componentName}}Props = { classNameExtend: string }

export const {{pascalCase componentName}} = ({ classNameExtend, ...restProps }:
{{pascalCase componentName}}Props): JSX.Element => {
  return (
    <div className={clsx([styles.base, classNameExtend])} {...restProps}>
      Hello
    </div>
  )
}