@layer components {
  .base {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .horizontal {
    flex-direction: row;
  }

  .align-x-centre {
    justify-content: center;
  }

  .align-y-centre {
    align-items: center;
  }

  .dividers > li:not(:last-child) {
    border-bottom: 1px solid var(--slate-200);
  }
}
