@layer base, components, utilities;

@import "node_modules/modern-normalize/modern-normalize.css";
@import "./tokens/colours.css";
@import "./tokens/sizes.css";
@import "./tokens/space.css";

* {
  --font-size: var(--size-16);
  --gap: var(--space-8);
  --colour-interactive: var(--violet-600);
}

@layer base {
  html {
    font-size: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

@layer utilities {
  .flex {
    display: flex;
  }

  .gap {
    gap: var(--gap);
  }

  .gap-8 {
    gap: var(--space-8);
  }

  .gap-16 {
    gap: var(--space-16);
  }

  .gap-24 {
    gap: var(--space-24);
  }

  .grid {
    display: flex;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-grow {
    flex-grow: 1;
  }

  .items-centre {
    align-items: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-centre {
    justify-content: center;
  }

  .display-block {
    display: block;
  }
}
