@layer base, layout, components, utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

@import "node_modules/modern-normalize/modern-normalize.css";
@import "./tokens/colours.css";
@import "./tokens/sizes.css";
@import "./tokens/space.css";
@import "./utilities/layout.css";

/* @import "../pages/session-onboarding/session-onboarding.css"; */
* {
  --font-size: var(--size-16);
  --gap: var(--space-8);
  --colour-interactive: var(--sky-500);
  --colour-brand: #6c1fba;
  box-sizing: border-box;
}

@layer base {
  html {
    font-size: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
